@layer primitives {
  .TableContainer {
    --row-height: 4rem;
    --row-gap: 10px;
    --row-border-radius: 10px;

    position: relative;
    width: 100%;
    overflow-x: auto;
  }

  .Table {
    width: 100%;
    caption-side: bottom;
    font-size: var(--text-sm);
    border-collapse: separate;
    border-spacing: 0 var(--row-gap);
    // table-layout: fixed;
  }

  .TableHeader {
    & tr {
      background-color: transparent;
      height: fit-content;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .TableBody {
    & tr:last-child {
      border-bottom: 0;
    }
  }

  .TableFooter {
    background-color: rgba(var(--muted-rgb), 0.5);
    font-weight: var(--font-weight-medium);

    & > tr:last-child {
      border-bottom: 0;
    }
  }

  .TableRow {
    background-color: var(--color-surface);
    transition: background-color 0.2s ease;
    border-radius: var(--row-border-radius);

    &:hover {
      background-color: var(--color-gray-100);
    }

    &[data-state="selected"] {
      background-color: var(--color-gray-100);
    }
  }

  .TableHead {
    color: var(--color-text-primary);
    height: 2.5rem;
    padding-block: 0;
    text-align: start;
    vertical-align: middle;
    font-weight: 800;
    white-space: nowrap;

    &:has([role="checkbox"]) {
      padding-inline-end: 0;
    }

    & > [role="checkbox"] {
      transform: translateY(2px);
    }
  }

  .TableCell {
    padding: 0.5rem;
    vertical-align: middle;
    white-space: nowrap;
    border-block: 1px solid var(--color-border);
    height: var(--row-height);

    &:first-child {
      border-inline-start: 1px solid var(--color-border);
      border-start-start-radius: var(--row-border-radius);
      border-end-start-radius: var(--row-border-radius);
    }

    &:last-child {
      border-inline-end: 1px solid var(--color-border);
      border-start-end-radius: var(--row-border-radius);
      border-end-end-radius: var(--row-border-radius);
    }

    &:has([role="checkbox"]) {
      padding-inline-end: 0;
    }
  }

  .TableCaption {
    margin-top: 1rem;
    color: var(--muted-foreground);
    font-size: var(--text-sm);
  }
}
