@layer base {
    .Step {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 0.4rem;

        &[data-disabled] {
            opacity: 0.4;
            cursor: not-allowed;
        }

        &[data-orientation="vertical"] {
            display: grid;
            grid-template-columns: 1.2rem auto;
            grid-template-rows: auto 1.5rem;
            align-items: center;
            justify-content: start;
            column-gap: 0.4rem;
            row-gap: 0.15rem;
        }
    }
}
