@layer base {
    .List {
        display: flex;
        position: relative;
        padding-inline: 0.25rem;
        gap: 1.3rem;
    }

    .Tab {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        color: black;
        font-family: inherit;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.25rem;
        user-select: none;
        white-space: nowrap;
        word-break: keep-all;
        padding-block: 0;
        padding: 0;
        height: 2rem;
        cursor: pointer;

        &[data-active] {
            color: var(--tab-color);
            border-bottom: 2px solid var(--tab-color);
            font-weight: 600;
        }

        .TabLabel {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            color: inherit;
            font-weight: inherit;
        }

        &::after {
            content: attr(data-text);
            font-weight: 600;
            display: block;
            visibility: hidden;
            height: 0;
            overflow: hidden;
            pointer-events: none;
        }
    }

    .Indicator {
        position: absolute;
        left: 0;
        top: 50%;
        translate: var(--active-tab-left) -50%;
        width: var(--active-tab-width);
        height: 1.5rem;
        border-radius: 0.25rem;
        transition-property: translate, width;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    }
}
