@layer base {
  .Connector {
    width: 1rem;
    height: 1.5px;
    background: var(--color-surface-divider);

    &[data-active],
    &[data-completed] {
      background: var(--color-blue);
    }

    &[data-disabled] {
      background: var(--color-surface-overlay);
    }

    :global([data-orientation="vertical"]) & {
      width: 1.5px;
      height: 1.5rem;
      justify-self: center;
      grid-column: 1;
      grid-row: 2;
    }
  } 
}
