@layer custom {
    .Chip {
        display: flex;
        align-items: center;
        background-color: rgb(142, 157, 192);
        color: white;
        border-radius: 0.5rem;
        font-size: 0.75rem;
        padding: 0.1rem 0.4rem;
        max-width: 100%;
        min-width: 0;
    }

    .ChipText {
        display: block;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
